@model CrudContactListMvc.Models.Category

@{
    ViewData["Title"] = "Details";
}

<style>
    .all_center * {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>

<div class="all_center">
<h1>Details</h1>

<div>
    <h4>Category</h4>
    <p>Current time: @DateTime.Now</p>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>

        @{
            if (Model.Subcategory != null)
            {
                <dd></dd>
                foreach (Subcategory item in Model.Subcategory)
                {
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => item.Name)
                    </dd>
                }
            }
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
